{{extend 'layout.html'}}
<h2>{{=game}} Scheduler</h2>
<br/>
<div class="row">
<div class="col-sm-6">
<form class = "form-horizontal" enctype="multipart/form-data" action="{{=URL('league')}}" method="get">
  <input type="hidden" name="game" value="{{=gameId}}" />
  <div class="form-group">
    <label for="number" class="col-sm-3 control-label">Number Of Teams</label>
    <div class="col-sm-9">
    	<input type="number" name="number" min="2" required="true" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="arenas" class="col-sm-3 control-label">Number Of {{=pitch}}s</label>
    <div class="col-sm-9">
      <input type="number" min="1" name="arenas" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="practice" value="yes">
          Allow Practice
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-default">Create a Schedule</button>
    </div>
  </div>
</form>
</div>
</div>