{{extend 'layout.html'}}
<h2>{{=game}} Scheduler</h2>
<br/>
<div class="row">
<div class="col-sm-6">
<form class = "form-horizontal" enctype="multipart/form-data" action="{{=URL('league')}}" method="get">
  <input type="hidden" name="game" value="{{=gameId}}" />
  <div class="form-group">
    <label for="number" class="col-sm-3 control-label">Number Of Teams</label>
    <div class="col-sm-9">
    	<input type="number" name="number" min="2" required="true" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="arenas" class="col-sm-3 control-label">Number Of {{=pitch}}s</label>
    <div class="col-sm-9">
      <input type="number" min="1" name="arenas" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="practice" value="yes">
          Allow Practice
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="time" value="1">
          Include Time
        </label>
      </div>
    </div>
  </div>
  <div id="tshow" style="display:none">
  <div class="form-group">
    <label for="glen" class="col-sm-3 control-label">Game Length</label>
    <div class="col-sm-9">
      <input type="number" name="glen" min="1" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="gskip" class="col-sm-3 control-label">Gap between games</label>
    <div class="col-sm-9">
      <input type="number" name="gskip" min="0" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="gdata" class="col-sm-3 control-label">Game Slot Data (testing)</label>
    <div class="col-sm-9">
      <textarea name="gdata" rows="5" class="form-control"></textarea>
    </div>
    <span id="helpBlock" class="col-sm-offset-3 col-sm-9 help-block">Format: date, city, start, end . Eg: 15/3/2016, Hyderabad, 17:00, 22:00</span>
  </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-default">Create a Schedule</button>
    </div>
  </div>
</form>
</div>
</div>
<script type="text/javascript">
  $('input[name=time]').prop("checked", false)
  $('input[name=time]').click(function(){
    $("#tshow").toggle(300);
  });
</script>