{{extend 'layout.html'}}
<h2>League Schedule</h2>
<style type="text/css">
	th 
	{
		text-align: center;
	}
</style>
<table class="table table-striped table-bordered" style="text-align:center;">
<tbody>
<thead>
	<tr>
		<th>Sno</th>
		{{if rinks>1:}}
		<th>Location</th>
		{{pass}}
		<th colspan="3">Game</th>
	</tr>
</thead>
{{for i in range(len(matches)):}}
<tr>
{{if rinks==1:}}
<td>{{=i+1}}</td>
{{else:}}
<td>{{=i/rinks+1}}</td>
<td>Rink{{=i%rinks + 1}}</td>
{{pass}}
<td>{{=matches[i][0]}}</td>
<td>:</td>
<td>{{=matches[i][1]}}</td>
</tr>
{{pass}}
</tbody>
</table>