{{extend 'layout.html'}}
<h2>Groups For {{=gname}}</h2>
<!-- <h4><button><a href='{{=URL("add", args=[gid])}}'>Add Group</a></button></h4> -->
<table class="table table-striped">
<tbody>
{{if not rows:}}
No Groups
{{pass}}
{{for i in rows:}}
<tr>
	<td>{{=i.name}}</td>
	<td>{{=i.glength}}</td>
	<td><a href={{=URL("edit", args=[gid])}}>edit group</a></td>
	<td><a href={{=URL("delete", args=[gid])}}>delete</a></td>
</tr>
{{pass}}
</tbody>
</table>
<button><a href='{{=URL("add", args=[gid])}}'>Add Group</a></button>